#dont be dumb, rename this file to application.properties and also make sure you've added actual credentials

spring.application.name=dms

server.port=8080

spring.datasource.url=<jdbc based db access url through postgres>
spring.datasource.username=$USERNAME
spring.datasource.password=$PASS

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

# Local folder where uploaded documents are stored for the prototype
dms.storage.location=./uploaded-documents
dms.backup.location=./document-backups

spring.servlet.multipart.max-file-size=20MB
spring.servlet.multipart.max-request-size=20MB

blockchain.rpc-url=http://127.0.0.1:8545
blockchain.private-key = <enter your private key obtained from ganache>
blockchain.contract-address = <enter contact address displayed by the spring-boot-app upon startup>
